doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    div.menu <br />
     h1.real Real Estate
      span.navi
       a(href="http://127.0.0.1:8000/contact") Contact
      span.navi2
       a(href="http://127.0.0.1:8000/") Home
  body
    <br />
    <br />
    <br />
    block content
